@model List<NodeIndexViewModel>
@{
    ViewData["Title"] = "Home Page";
    var color = string.Empty;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row m-4">
    <div class="col-sm-4 text-center">
        <a class="node-list-button" id="activeNodes">Active</a>
    </div>
    <div class="col-sm-4 text-center">
        <a class="node-list-button" id="upcomingNodes">Upcoming</a>
    </div>
    <div class="col-sm-4 text-center">
        <a class="node-list-button" id="doneNodes">Done</a>
    </div>
</div>

<div class="row" id="node-list-container">

</div>

@section Scripts{
    <script>
        window.addEventListener("load", () => {
            $("#activeNodes").click();
        });

        $("#activeNodes").click(() => {
            $.ajax({
                url: "https://localhost:7269/Home/FilterNode",
                data: { selection: "active" },
                method: "GET",
                success: function (result) {
                    $("#activeNodes").css("color", "#8971d0");
                    $("#doneNodes").css("color", "#c4c1e0");
                    $("#upcomingNodes").css("color", "#c4c1e0");
                    $("#node-list-container").empty();
                    $("#node-list-container").append(result);
                }
            });
        });

        $("#doneNodes").click(() => {
            $.ajax({
                url: "https://localhost:7269/Home/FilterNode",
                data: { selection: "done" },
                method: "GET",
                success: function (result) {
                    $("#doneNodes").css("color", "#8971d0");
                    $("#activeNodes").css("color", "#c4c1e0");
                    $("#upcomingNodes").css("color", "#c4c1e0");
                    $("#node-list-container").empty();
                    $("#node-list-container").append(result);
                }
            });
        });

        $("#upcomingNodes").click(() => {
            $.ajax({
                url: "https://localhost:7269/Home/FilterNode",
                data: { selection: "upcoming" },
                method: "GET",
                success: function (result) {
                    $("#upcomingNodes").css("color", "#8971d0");
                    $("#activeNodes").css("color", "#c4c1e0");
                    $("#doneNodes").css("color", "#c4c1e0");
                    $("#node-list-container").empty();
                    $("#node-list-container").append(result);
                }
            });
        });
    </script>
}