.details-container {
    color: black !important;
    font-size: 1.1rem;
}

.node-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-image: url("../img/background-img-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--var-whitish-color) !important;
}

.social-media-container a {
    text-decoration: none;
    color: var(--var-whitish-color) !important;
}