.homepage-headline {
    background-image: url(../img/logo.png);
    background-size: 100% 120%;
    color: #fdffcd;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.how-it-works-title {
    color: black;
    font-size: 40px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 10px;
}

.how-it-works-icon {
    font-size: 30px;
}

.how-it-works-subtitle {
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0px;
}

.node-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.node-container-a {
    text-decoration: none;
    color: #222831;
}

.node-container-a:hover {
    cursor: pointer;
    color: #222831;
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.node-image {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.fa-star {
    color: #ffa952;
}

.fa-wrench {
    color: #38598b;
}

.node-list-button {
    text-decoration: none;
    font-size: 24px;
    color: #c4c1e0;
    font-weight: 500;
}

.node-list-button:hover {
    cursor: pointer;
    color: #8971d0;
}

.node-list-button.active {
    color: #8971d0;
}