.index-node-container {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 25px;
    margin: 10px;
}

.node-image {
    margin-right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%
}