@model List<NodeSearchedViewModel>


@foreach (var item in Model)
{
    <ul class="search-result-list">
        <li class="search-result-item">
            <a asp-action="NodeDetails" asp-controller="Node" asp-route-id="@item.Id"> @item.Name</a>
        </li>
    </ul>
}
