@model List<NodeSearchedViewModel>


<ul class="search-result-list">
    @foreach (var item in Model)
    {
        <li class="search-result-item">
            <a asp-action="NodeDetails" asp-controller="Node" asp-route-id="@item.Id"> @item.Name</a>
        </li>
    }
</ul>
